body {
  min-width: 900px;
  margin: 0 auto;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #fff;
}


/*Управление слайдером*/

.slider-input {
  display: none;
}

.site-wrapper {
  min-width: 900px;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("slide-2.png");
}

.site-wrapper::after {
  background-image: url("slide-3.png");
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.visibly-hidden {
  position: absolute;
  opacity: 0;
}


/* header */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 860px;
  padding-top: 11px;
  margin-bottom: 33px;
  color: #fff;
}

.main-header .header-logo {
  width: 154px;
  min-height: 80px;
}

.main-header .main-navigation {
  width: 360px;
  min-height: 80px;
  margin-left: 0;
  margin-top: 2px;
}

.main-header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin-top: 12px;
  margin-left: 9px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  list-style-type: none;
}

.main-menu>li {
  position: relative;
  margin-right: -2px;
  padding-bottom: 5px;
  z-index: 10;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 20px;
}

.main-menu a {
  display: block;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.menu-item>a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.menu-item>a:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.active-page>a {
  color: #fff;
  text-decoration: none;
  background-color: #d07058;
  border-radius: 20px;
}

.active-page>a::after {
  background-color: #d07058;
}

.active-page>a:hover::after {
  background-color: #ededed;
}

.main-submenu {
  display: none;
  position: absolute;
  top: 37px;
  width: 143px;
  margin-left: -5px;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-item>a:hover {
  color: #323232;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 20px;
}

.menu-item>a:hover::after {
  background-color: #f7f6f3;
}

.li-submenu:hover .main-submenu {
  display: block;
}

.main-submenu a {
  display: block;
  padding: 10px 13px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 5px;
}

.submenu-line {
  font-weight: bold;
}

.main-submenu a:hover {
  background-color: #fbded8;
}

.main-submenu .submenu-line {
  position: relative;
  padding-top: 11px;
  padding-bottom: 13px;
  font-weight: 700;
}

.submenu-line::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.main-submenu a:hover {
  background-color: #fbded8;
  border-radius: 0;
}

.main-submenu a:active {
  background-color: #f6b5a5;
}

.main-submenu .active-submenu {
  background-color: #d07058;
}

.active-submenu a, .active-submenu a:hover {
  color: #fff;
  background-color: #d07058;
  border-radius: none;
}


/*панель входа */

.main-header .user-block {
  width: 260px;
  min-height: 80px;
  margin-left: auto;
}

.user-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style-type: none;
}

.user-block li {
  position: relative;
  display: block;
  padding-bottom: 10px;
  margin-top: 8px;
  margin-left: 10px;
}

.user-block a {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-block .search {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -9px;
  padding: 0;
  font-size: 0;
  background: rgba(255, 255, 255, 0.3) url("../img/spritesheet.png");
  background-position: -123px -116px;
  border-radius: 50%;
}

.user-search:hover .search {
  background: rgba(255, 255, 255, 1) url("../img/spritesheet.png");
  background-position: -150px -116px;
}

.user-block .search-form {
  display: none;
  position: absolute;
  top: 31px;
  right: 0;
  width: 341px;
  min-height: 85px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.user-search:hover .search-form {
  display: block;
}

.search-form label, .mail .mail-main, .email-header, .password-header, .modal-label {
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: #5b9ddf;
  opacity: 0;
}

.password-header {
  top: 70px;
}

.search-input:focus+label, input[type="email"]:focus+label, input[type="text"]:focus+label, textarea:focus+label {
  opacity: 1;
}

input[type="search"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="text"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input[type="search"]:focus:-moz-placeholder, input[type="email"]:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent;
}

input[type="search"]:focus:-ms-input-placeholder, input[type="email"]:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.search-input:valid+label, input[type="email"]:valid+label, input[type="text"]:valid+label, textarea:valid+label {
  opacity: 0.5;
  color: #323232;
}

.search-form input[type="search"] {
  width: 310px;
  margin-top: 20px;
  margin-left: 13px;
  padding: 10px 14px;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.content-wrapper input:hover {
  -webkit-box-shadow: inset 0 0 1px 0 rgba(154, 154, 154, 1);
  box-shadow: inset 0 0 1px 0 rgba(154, 154, 154, 1);
}

.user-block .login {
  position: relative;
  padding-left: 43px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.user-block .login::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 6px;
  width: 21px;
  height: 19px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -72px -67px;
}

.user-login:hover .login {
  color: #323232;
  background-color: #f8f7f4;
}

.user-login:hover .login::before {
  background-position: -103px -67px;
}

.user-login .login-form {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 279px;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.user-login:hover .login-form {
  display: block;
}

.login-form input {
  width: 241px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-form .login-btn {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 22px;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  border-style: none;
}

.login-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.login-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.login-form label {
  opacity: 0;
}

.user-login .login-no {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 125px;
  margin-right: 13px;
  margin-top: 23px;
}

.login-no a {
  display: block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;
  white-space: nowrap;
  text-decoration: underline;
}

.login-no a:hover, .login-no a:active {
  color: #e84d37;
}

.user-block .basket {
  display: block;
  position: relative;
  width: 64px;
  margin-top: -9px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.user-block .basket::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 6px;
  width: 21px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -65px -5px;
}

.user-block .basket-full {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block .basket-full::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 7px;
  width: 21px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -96px -5px;
}

.basket-with-goods .basket-open {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 540px;
  padding: 15px 15px 20px;
  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 15;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-with-goods:hover .basket-open {
  display: block;
}

.basket-with-goods table {
  width: 510px;
  padding-bottom: 18px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  border-bottom: 1px solid rgba(50, 50, 50, 0.8);
}

.basket-with-goods .basket-item-size {
  width: 295px;
  min-height: 54px;
  margin-top: 10px;
}

.basket-with-goods .basket-image {
  width: 33px;
  height: 33px;
  margin-right: 0;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.basket-price {
  padding-left: 15px;
}

.basket-price span {
  opacity: 0.5;
}

.basket-open .item-remove {
  position: relative;
  width: 14px;
  height: 14px;
  font-size: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.basket-open .item-remove::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #7e7e7d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.basket-open .item-remove::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #7e7e7d;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.basket-open .basket-description {
  width: 225px;
  text-align: left;
}

.basket-description.straw {
  padding-top: 17px;
}

.basket-open .basket-price-sum {
  display: block;
  width: 510px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-align: right;
}

.basket-open .basket-btn {
  display: block;
  float: right;
  padding: 10px 22px;
  margin-bottom: -5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  cursor: pointer;
}

.basket-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.basket-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.contacts {
  position: absolute;
  width: 175px;
  right: 0px;
  bottom: -25px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  text-align: right;
}

.contacts a {
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 4px;
}


/* main */


/* slider */

.slide {
  display: none;
}

.slider {
  position: relative;
  padding-top: 270px;
  margin-top: -3px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slider h2.h-slider {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#slider-cream-brulee:checked~.site-wrapper label[for="slider-cream-brulee"], #slider-chocolate:checked~.site-wrapper label[for="slider-chocolate"], #slider-cream-strawberry:checked~.site-wrapper label[for="slider-cream-strawberry"] {
  background-color: #fff;
}

#slider-cream-brulee:checked~.site-wrapper .slide.cream-brulee, #slider-chocolate:checked~.site-wrapper .slide.chocolate, #slider-cream-strawberry:checked~.site-wrapper .slide.cream-strawberry {
  display: block;
}

#slider-cream-brulee:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-background1.png");
}

#slider-chocolate:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-background2.png");
}

#slider-cream-strawberry:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-background3.png");
}

.slider-btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 100px;
}

.slider-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* bonus */

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bonus h3 {
  margin: 0;
  margin-bottom: -2px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.bonus-raspberries {
  width: 420px;
  min-height: 229px;
  padding-top: 17px;
  padding-left: 18px;
  color: #fff;
  background: #762e43 url("../img/raspberries-back.png") no-repeat;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bonus-chocolate {
  width: 420px;
  min-height: 229px;
  padding-top: 15px;
  padding-left: 20px;
  color: #fff;
  background: #522f1e url("../img/chocolate-back.png") no-repeat;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bonus p {
  width: 380px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.bonus-btn {
  display: inline-block;
  float: right;
  margin-right: 22px;
  margin-top: 4px;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
}

.bonus-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.bonus-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* hit */

.popular-ice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ice-cream {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 12px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

.ice-cream-item:hover .ice-cream {
  z-index: 10;
}

.ice-cream img {
  width: 100%;
  height: auto;
}

.popular-ice .hit {
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url("../img/index-hit-no-ice.jpg");
  border-radius: 50%;
  overflow: visible;
  z-index: 20;
}

.ice-cream-item {
  position: relative;
}

.ice-description {
  display: block;
  position: relative;
  width: 186px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

.ice-description span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.ice-cream-item:hover .description-border {
  border: none;
}

.hit-price {
  display: block;
  position: absolute;
  top: 142px;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  z-index: 20;
}

.hit-price::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 80px;
  width: 29px;
  height: 32px;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -5px;
  background-repeat: no-repeat;
}

.hit-price::after {
  content: "/кг";
  position: absolute;
  top: 6px;
  left: 113px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-item:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 220px;
  height: 308px;
  margin-top: -11px;
  margin-left: -11px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  z-index: 5;
}

.ice-cream-item:hover .btn-item {
  display: block;
  position: absolute;
  left: 4px;
  bottom: -28px;
  padding: 10px 13px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.4);
  border-radius: 20px;
  z-index: 10;
}

.ice-cream-item.index-page:hover .btn-item {
  bottom: -60px;
}

.btn-item {
  display: none;
}

.ice-cream-item:hover .btn-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.ice-cream-item:hover .btn-item:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* quality-gllacy */

.quality-gllacy {
  position: relative;
  width: 820px;
  padding: 25px 20px;
  margin-bottom: 40px;
  color: #323232;
  background: #f0e4cd url("../img/wafer-back.jpg") repeat;
  border-radius: 10px;
}

.quality-gllacy h2 {
  width: 770px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.quality-gllacy .quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 820px;
  margin: 0 auto;
}

.quality-gllacy .quality-item {
  position: relative;
  width: 402px;
  min-height: 100px;
  padding: 0;
  padding-left: 55px;
  margin: 0;
  margin-top: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.quality-item.ice::before {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
  top: -12px;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-position: -169px -5px;
}

.quality-item.sheet::before {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
  top: -12px;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-position: -169px -64px;
}

.quality-item.cow::before {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
  top: -12px;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-position: -72px -96px;
}

.quality-item.temp::before {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
  top: -12px;
  left: 0;
  background-image: url("../img/spritesheet.png");
  background-position: -5px -123px;
}


/*blog-and-mail */

.blog-and-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 35px;
}

.blog-and-mail .blog {
  width: 420px;
  height: 220px;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background: #fff url("../img/straw-blog-back.png") no-repeat;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-and-mail .blog-news {
  width: 300px;
}

.blog-and-mail p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.blog-and-mail a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #353535;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
}

.blog-and-mail .mail-border {
  width: 420px;
  min-height: 220px;
  background: url("../img/mail-back.png");
  border-radius: 15px;
}

.blog-and-mail .mail {
  position: relative;
  width: 410px;
  min-height: 210px;
  margin-top: 5px;
  margin-left: 5px;
  color: #353535;
  padding: 20px;
  background: #f8f7f4 no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
}

.mail .mail-main {
  top: 115px;
}

.mail p {
  width: 369px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #5a5a5a;
}

.mail input {
  width: 203px;
  padding: 9px 12px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #999;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
}

.mail button {
  display: inline-block;
  float: right;
  padding: 9px 18px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  border-style: none;
}

.mail button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.mail button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* map */

.map {
  display: block;
  width: 900px;
  height: 430px;
  position: relative;
  z-index: 3;
  margin-bottom: -5px;
  margin-left: -20px;
  background-image: #fff url("../img/map900.png");
}

.map a {
  display: block;
  margin-top: 6px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #323232;
}

.map-address {
  position: absolute;
  width: 252px;
  height: 255px;
  padding: 25px;
  margin-right: 20px;
  right: 0;
  top: 65px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #323232;
  z-index: 5;
  background-color: #fefefe;
  border-radius: 10px;
}

.map-address address {
  display: block;
  margin-top: 3px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
  font-style: normal;
}

.map-address span {
  display: block;
  width: 180px;
  margin-top: 3px;
}

.map-address .address {
  width: 150px;
}

.map .btn-form {
  display: inline-block;
  position: absolute;
  bottom: 27px;
  left: 26px;
  margin-right: 22px;
  padding: 10px 27px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 20px;
}

.map .btn-form:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.map .btn-form:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/* footer*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.main-inner .main-footer {
  padding-top: 20px;
}

.main-footer a {
  text-decoration: underline;
}

.main-footer .footer-social {
  width: 190px;
  min-height: 80px;
  margin-left: 0;
  margin-right: 40px;
}

.main-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  top: 2px;
  left: -2px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer-social .social-btn {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  background: url("../img/spritesheet.png") no-repeat center;
  border: 3px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.footer-social .social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.footer-social .social-btn:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.5);
  opacity: 0.7;
}

.footer-social .social-btn-tw {
  background-position: -184px -123px;
}

.footer-social .social-btn-inst {
  background-position: -30px -67px;
}

.footer-social .social-btn-fb {
  background-position: -127px -25px;
}

.footer-social .social-btn-vk {
  background-position: -63px -165px;
}

.main-footer .footer-doc-navigation {
  position: relative;
  top: 0px;
  left: 5px;
  width: 330px;
  min-height: 80px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #fff;
}

.footer-doc-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 50px;
  list-style: none;
}

.footer-doc-navigation a {
  display: block;
  margin-right: 27px;
  margin-top: -2px;
  padding: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
}

.footer-doc-navigation a:hover, .footer-doc-navigation a:active {
  color: rgba(255, 188, 158, 1);
}

.footer-doc-navigation a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-doc-navigation a:hover::after, .footer-doc-navigation a:active::after {
  background-color: rgba(255, 188, 158, 0.4);
}

.footer-menu-item:nth-child(2) a::after {
  margin-right: 11px;
}

.footer-menu-item:nth-child(3) a::after {
  margin-right: 53px;
}

.footer-doc-navigation .supply {
  position: relative;
  font-weight: bold;
  opacity: 1;
}

.footer-doc-navigation .supply:before {
  content: '';
  position: absolute;
  left: -18px;
  top: 6px;
  width: 15px;
  height: 13px;
  background: url("../img/spritesheet.png");
  background-position: -5px -67px;
  opacity: 1;
}

.main-footer .footer-copyright {
  position: relative;
  left: 6px;
  width: 195px;
  min-height: 80px;
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin-top: -2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  opacity: 0.8;
}

.footer-copyright a {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-decoration: none;
}

.footer-copyright a:hover, .footer-copyright a:active {
  color: rgba(255, 188, 158, 1);
}

.footer-copyright a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-copyright a:hover::after, .footer-copyright a:active::after {
  background-color: rgba(255, 188, 158, 0.4);
}


/* Всплывающая форма */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal-content {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -238px;
  width: 477px;
  padding: 20px 25px;
  color: #323232;
  background: rgb(248, 247, 244);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 50;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: rgb(248, 247, 244);
  border: 0;
  cursor: pointer;
}

.modal-content-close::before, .modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content p {
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #323232;
}

.modal-content input[type="text"], .modal-content input[type="email"] {
  width: 265px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  white-space: nowrap;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-content textarea {
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
  margin-left: 0;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon-name+label {
  top: 58px;
  left: 35px;
}

.icon-email+label {
  top: 122px;
  left: 35px;
}

.textarea-modal+label {
  top: 190px;
  left: 35px;
}

.modal-content .modal-btn {
  display: block;
  float: right;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.5);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.5);
  border: none;
  cursor: pointer;
}

.modal-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.modal-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-content-show-overlay {
  display: block;
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}


/* Стили внутренних страниц */

.main-inner {
  margin-top: -27px;
}

.main-inner h1.h-cream {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-bottom: 25px;
}

.main-inner .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 3px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
}

.breadcrumbs li {
  position: relative;
  padding-right: 21px;
}

.breadcrumbs a[href]::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.breadcrumbs a[href]:hover, .breadcrumbs a[href]:active {
  color: #ffbc9e;
}

.breadcrumbs a[href]:hover::after, .breadcrumbs a[href]:active::after {
  background-color: rgba(255, 188, 158, 0.4);
}

.breadcrumbs li::after {
  content: '»';
  position: absolute;
  top: 0;
  right: 6px;
  width: 8px;
  height: 8px;
}

.breadcrumbs li:last-child::after {
  display: none;
}


/* Поле выбора*/

.catalog-form {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.catalog-form .flex-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-form .sort {
  margin-bottom: 17px;
}

.catalog-form legend, .catalog-form span {
  display: block;
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.catalog-form span {
  padding-left: 16px;
}

.catalog-form fieldset {
  margin: 0;
  padding: 0 15px;
  font-size: 16px;
  line-height: 36px;
  border: none;
}

.catalog-form select {
  position: relative;
  height: 36px;
  padding: 0 35px 0 15px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-form select:hover {
  color: #323232;
  background-color: #fff;
}

.catalog-form .form-sort {
  position: relative;
  width: 196px;
}

.catalog-form .form-sort::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 5px;
  width: 14px;
  height: 14px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  z-index: 5;
}

.catalog-form .form-sort:hover::after {
  background-image: linear-gradient(135deg, black 25%, transparent 25%);
}

.sort, .catalog-form .range {
  margin-right: 5px;
}

.catalog-form .range-controls {
  position: relative;
  width: 217px;
  height: 37px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 60%;
  height: 5px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.range-controls .toggle-min {
  left: 33px;
}

.range-controls .toggle-max {
  left: 130px;
}

.catalog-form input[type="radio"], .catalog-form input[type="checkbox"] {
  display: none;
}

.catalog-form input[disabled]+label {
  opacity: 0.4;
}

.catalog-form .form-fat, .catalog-form .form-fillers {
  position: relative;
  height: 36px;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-form .form-fillers {
  padding-left: 10px;
}

.form-fat .fat-item, .form-fillers .fillers {
  position: relative;
  margin-right: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.catalog-form .last {
  margin-right: 0px;
  padding-right: 3px;
}

.form-fat .fat-item::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  border: 3px solid #9db1a6;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-fat .fat-item:hover::before {
  border: 2px solid #9db1a6;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
}

.form-radio:checked+label::before {
  background-color: #fff;
}

.form-fillers .fillers::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
  border: 1px solid #9db1a6;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-fillers .fillers:hover::before {
  border: none;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
}

.form-checkbox:checked+label::before {
  background-image: url("../img/spritesheet.png");
  background-position: -126px -2px;
}

.form-checkbox:checked+label:hover::before {
  background-position: -125px -1px;
}

.catalog-form .form-btn {
  display: inline-block;
  vertical-align: top;
  padding: 7px 29px;
  height: 36px;
  margin-top: 23px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-form .form-btn:hover {
  color: #323232;
  background-color: #fbfcfb;
}

.catalog-form .form-btn:active {
  color: 323232;
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
  border: none;
}


/*каталог мороженого*/

.main-inner .ice-cream-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
}

.main-inner .ice-cream-item {
  width: 200px;
  min-height: 310px;
  margin-bottom: 5px;
}

.main-inner .hit-price {
  top: 138px;
}


/*листалка страниц каталога*/

.row-paginator {
  height: 56px;
}

.row-paginator::after {
  content: "";
  display: table;
  clear: both;
}

.paginator {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  list-style: none;
}

.paginator::after {
  content: "";
  display: table;
  clear: both;
}

.paginator li {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0;
  margin-left: 3px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.paginator li:first-child {
  margin-left: 0;
  text-align: left;
}

.paginator li:last-child {
  position: relative;
  left: 5px;
  margin-left: 0;
  text-align: right;
}

.paginator a {
  display: block;
  margin: auto 0;
  text-align: center;
}

.paginator .btn-page {
  display: block;
  border-radius: 50%;
}

.paginator .btn-page:hover {
  color: #fff;
  background-color: rgba( 255, 255, 255, 0.2);
}

.paginator .btn-page:active {
  color: #323232;
  background-color: #fff;
}

.btn-page.active, .btn-page.active:hover, .btn-page.active:active {
  color: #323232;
  background-color: #fff;
}

.paginator .prev {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat center;
  background-position: -46px -5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.2;
}

.paginator .next {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat center;
  background-position: -46px -5px;
}
